/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: 	#eaf1f9;
}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  background: #fff;
  overflow: hidden;
  transition: 1s;
}
nav:hover{
  width: 280px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin-top: 10px;
  padding-bottom: 3rem;
}

.logo img{
  width: 80%;
  height: 90%;
  margin-top:2em;
}

a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
a:hover i{
  color: 	#c0c0ca;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}

.container{
  display: flex;
}


.main{
  position: relative;
  padding: 20px;
  width: 100%;
}


  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  table thead tr{
    color: #000;
    background: 	#c0c0ca;
    text-align: left;
    font-weight: bold;
  }
  .table th,
  .table td{
    padding: 12px 15px;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
  .table tbody tr.active{
    font-weight: bold;
    color: 	#2f2d52;
  }
  .table tbody tr:last-of-type{
    border-bottom: 2px solid 	#2f2d52;
  }


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
  }
  

  input[type=submit] {
    float:right;
    margin-right:6em;
    margin-top:1em;
    width:14em;
    height:3em;
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid 	#2f2d52;
  }
  
  input[type=submit]:hover {
    background: 	#2f2d52;
    color: #fff;
    transition: 0.5rem;
  }
  #myFile{
    height:4em;
    width:15em;
    
  }
 
  .container_form {
    border-radius: 5px;
    width:80%;
    padding:2em;
    margin-top:2em;
    margin-left:6em;
    background-color: #fff;
    height:34em;
    border-radius: 0.6em;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
.container_form label{
    font-weight: bold;
}
.container_form textarea{
    resize: none;
}
#messages{
    overflow:scroll;
}