{%extends "baseco.html"%}

{%block content%}
<section class="main">
    <div class="myDiv" >
        <form method="post" enctype="multipart/form-data" >
           {% csrf_token %}
            <h4 class="confirmstring">Upload SGK Document for {{sgkd.sender.FullName}} ? </h4>
        <input type="text" name="SGKNotification" value="Your SGK document is ready" hidden>
        <input type="text" value="Done"  name="SGK_Status" hidden>
        <input type="file" name="SGK_File" style="margin-top:2em; margin-left:5em;">
        <input type="submit" class="button" value="Upload" style="background-color: #00008B;width:10em;margin-top:4em; border:none;border-radius:0;">
        
   
    </form>
    </div>
</section>

{%endblock%}